.section-1{
	background-image: url("images/background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    height: 600px;


	
}
.nav-bar{
	    display: flex;
        justify-content: space-between;

}
.logo{
	margin-left: 65px;
	margin-top: 30px;
}
.na-link{
	    padding: 41px;
        margin-right: 107px;
        justify-content: space-between;
}
.Services{
	text-decoration: none;
	margin: 25px;
}
.about{
	text-decoration: none;
    margin: 25px;
}
.jobs{
	text-decoration: none;
    margin: 25px;
}
.contact{
	text-decoration: none;
	margin: 25px;
}
.section-1 h1{
	margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
}


.section-1 span{
	color: red;

}

.section-1 p{
	text-align: center;
}
.section-2{

    height: 270px;
    background-color: #DEDEDE;
    display: flex;
    justify-content: space-between;
}



.Staffing-content h1{
	    text-align: center;

 
}

.Staffing-content{
      margin-left: 400px;
      margin-top: 50px;

}
.Solutions-content{
	margin-right: 400px;
	margin-top: 50px;

}

.Solutions-content h1{
	    text-align: center;


}
.whyus {
	    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.experience{ 
	padding: 70px;
    border-right: 1px solid beige;
    border-bottom: 1px solid beige;

}



.flexible{
	border-bottom: 1px solid beige;
    border-right: 1px solid beige;
    padding: 70px;
}

.accountable{
	    border-bottom: 1px solid beige;
        padding: 70px;
}

.Value-driven{
	padding: 70px;
    border-right: 1px solid beige;
}

.responsive{
	    padding: 70px;
        border-right: 1px solid beige;
}

.diverse{
	    padding: 70px;
}



.Staffing-content .btn{
    width: 130px;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.Solutions-content .btn{
	background-color: #bd2130;
	width: 130px;
	border-color: #b21f2d;
}
.section-4{
  background-color: #E8E8E8;
  padding: 20px;
}

.section-4 h2{
    text-align: center;
    padding: 20px;
}

.client-1{
        width: 200px;
        display: inline;
        margin: 35px;
}

.client-2{
        width: 200px;
        display: inline;
        margin: 35px;
}

.client-3{
        width: 200px;
        display: inline;
        margin: 35px;
}

.client-4{
        width: 200px;
        display: inline;
        margin: 35px;

}
.section-5{
    background-color: #cacaca;

}
.section-5 .main-sec{
    display: flex;
    width: 60%;
        margin-left: 250px;
}
.address{
    margin-top: 20px;
    margin-right: 51px;
    margin-left: 70px;
}

.staff{
    margin-top: 20px;
    margin-right: 70px;
}
.solu{
     margin-top: 20px;
     margin-right: 70px;
}
.other-link{
     margin-top: 20px;
     margin-right: 70px;
}

.staff a{
    text-decoration: none;
   ;
}
.solu a{
    text-decoration: none;
    
}

.other-link a{
    text-decoration: none;
  
}

.footer-main{
    background-color: #89141a;


}

.footer-main p{
    display: inline;
    text-align: center;
    margin-left: 170px;
    color: white;
}
.footer-main div{
    display:  inline;
    margin-left: 190px;
}
.icons{
    display: inline;
    margin-left: 190px;
}
.icons i{
   padding:  20px;
}